@model PirateThis.WebUI.Models.SongsListViewModel

@{
    ViewBag.Title = "Songs";
}


@{Html.RenderPartial("ArtistSummary", Model.Songs.FirstOrDefault(s => s.Track == 1));}


@foreach (var s in Model.Songs)
{
    Html.RenderPartial("SongSummary", s);
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, artist = Model.CurrentArtist }))
</div>
