<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/Content/jquery-ui.css" />
    <link href="/Content/Site.css" type="text/css" rel="stylesheet" />
    <script src="/Content/jquery-1.9.1.js"></script>
    <script src="/Content/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {

            var songid = 0;

            $("#dialog-form").dialog({
                autoOpen: false,
                height: 275,
                width: 350,
                modal: true,
                buttons: {
                    "Submit comment": function () {
                        $("#SongID").val(songid);
                        $("form#commentForm").submit();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                }
            });

            $(".add-comment")
            .button()
            .click(function () {
                songid = $(this).attr('value');
                $("#dialog-form").dialog("open");
            });

        });

    </script>
</head>
<body>
    <div id="dialog-form" title="Add a comment">
        <form action="/Comment/Add" method="post" id="commentForm">
            <input type="hidden" name="Name" value="@User.Identity.Name" />
            <textarea name="Remark" class="text ui-widget-content ui-corner-all"></textarea>
            <input type='hidden' id="SongID" name="SongID" value='0' />
        </form>
    </div>
    <div id="Header">
        <div class="title">Pirate This!</div>
    </div>
    <div id="Menu">
        @{ Html.RenderAction("Menu", "Nav"); }
    </div>
    <div id="Content">
        @RenderBody()
    </div>
</body>
</html>
