@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome!</h2>

<p>Please use this site responsibly. Please log in to listen and comment.</p>

@Html.ActionLink("Log in here.", "Login", "Account")
<br /><br />
<p>
    Special thanks to WCSC for trying to break this app!
    <br />
    <img src="/Content/lol.png" />
</p>